body {
  background-color: #151515;
}

html {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#calculator {
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#container {
  background-color: rgb(51, 24, 104);
  border: 10px solid rgb(44, 43, 46);
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  gap: 4px;
}

#display {
  grid-column: 1 / -1;
  background-color: #211d2a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
  font-size: 5.5em;
  font-weight: initial;
  text-shadow: 1.3px 1.3px #cbc5c5;
  margin: 5px;
}

button {
  margin: 1px;
  border-radius: 40%;
  border: none;
  font-weight: initial;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(203, 196, 196);
}


#zero {
  grid-column: span 2;
}

.operator {
  background-color: #1d1040b8;
}

.operator:focus {
  background-color: #ffc183;
}

.equals {
  background-color: #1422a2;
}

.equals:active {
  background-color: #ffc183;
}

.operand {
  background-color: #411cbbbc;
}

.operand:active {
  background-color: #33b9bb;
}

.decimal {
  background-color: #180c2e;
}

.decimal:active {
  background-color: #33b9bb;
}

.clear {
  background-color: rgb(14, 61, 107);
}

.clear:active {
  background-color: rgb(123, 189, 255);
}

.sign {
  background-color: rgb(14, 61, 107);
}

.sign:active {
  background-color: rgb(123, 189, 255);
}

.percent {
  background-color: rgb(14, 61, 107);
}

.percent:active {
  background-color: rgb(123, 189, 255);
}
